<%= form_with(model: @license, local: true) do |f| %>
    
    <% if @license.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@license.errors.count, "error") %> prohibited this idea from being saved:</h2>
            <ul>
            <% @license.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>


    <div class="govuk-form-group">
        <%= f.label :number_of_balls, {class: "govuk-label"} %>
        <%= f.number_field :number_of_balls, {class: "govuk-input"} %>
    </div>

    <div class="govuk-form-group">
        <%= f.label :duration, {class: "govuk-label"} %>
        <%= f.number_field :duration, {class: "govuk-input"} %>
    </div>

    <%= f.submit class: "govuk-button" %>

<% end %>